<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Qtd</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.nameProduct }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price | currency:'BRL'}}</td>
      <td>
        <button (click)="remove(item.id)" class="btn btn-danger mr-2">x</button> 
        <button (click)="update(item)"class="btn btn-info">Edit</button>
      </td>
    </tr>
    
  </tbody>
</table>